<div class="row">
  <div class="col-md-8 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">fetch Product</h4>
            <form [formGroup]="productDetailForm" (ngSubmit)="onFormSubmit(productDetailForm.value)">
              <div class="form-group row">
                <label for="product_id" class="col-sm-3 col-form-label">Product ID</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="product_id" placeholder="Product ID" >
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Product Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="name" placeholder="Product name">
                </div>
              </div>
              <div class="form-group row">
                <label for="serial_no" class="col-sm-3 col-form-label">Serial No</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="serial_no" placeholder="Product name">
                </div>
              </div>
              <button type="submit" class="btn btn-success mr-2">Search</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="product">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div *ngIf="product" class="table-responsive">
              <p class="card-description">
                Below is the product details !!
              </p>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th> Product ID </th>
                    <td class="font-weight-medium"> {{ product.pk | slice:8}} </td>
                  </tr>
                  <tr>
                    <th> Product Name </th>
                    <td>{{ product.product_name }} </td>
                  </tr>
                  <tr>
                    <th> Serial No. </th>
                    <td>{{ product.serial_no }} </td>
                  </tr>
                  <tr>
                    <th> Category </th>
                    <td>{{ product.category_id }} </td>
                  </tr>
                  <tr>
                    <th> Cost Price </th>
                    <td>{{ product.unit_price | currency:'CAD':'symbol-narrow' }} </td>
                  </tr>
                  <tr>
                    <th> Selling Price </th>
                    <td>{{ product.sell_price | currency:'CAD':'symbol-narrow' }} </td>
                  </tr>
                  <tr>
                    <th> Quantity </th>
                    <td>{{ product.units_in_stock }} </td>
                  </tr>
                  <tr>
                    <th> Description </th>
                    <td>{{ product.description }} </td>
                  </tr>
                  <tr>
                    <th> Distributor </th>
                    <td>{{ product.supplier_id }} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>