// Table

.table {
    width: 80%;
    margin-bottom: 10px;
    // color: $table-color;
    // background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  
    th,
    td {
      padding: 10px 10px;
      vertical-align: top;
    //   border-top: $table-border-width solid $table-border-color;
    }
  
    thead th {
      vertical-align: bottom;
    //   border-bottom: (2 * $table-border-width) solid $table-border-color;
    }
  
  }
  