<div class="row">
  <div class="col-md-10 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Existing traders</h4>
            <p class="card-description">
              Below are all available traders!!
            </p>
            <div *ngIf="traderList" class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th> Trader ID </th>
                    <th> Trader Name </th>
                    <th> Category </th>
                    <th> Address </th>
                    <th> Country </th>
                  </tr>
                </thead>
                <tbody *ngFor="let tl of traderList">
                  <tr>
                    <td class="font-weight-medium"> {{ tl.trader_id }} </td>
                    <td>{{ tl.name }} </td>
                    <td>{{ tl.category }} </td>
                    <td>{{ tl.address }} </td>
                    <td>{{ tl.country }} </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>