<div class="row">
    <div class="col-md-8 d-flex align-items-stretch grid-margin">
        <div class="row flex-grow">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Existing Products</h4>
                        <p class="card-description">
                            All available products !!
                        </p>
                        <div *ngIf="productList" class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> Product ID </th>
                                        <th> Product Name </th>
                                        <th> Category </th>
                                        <th> Price </th>
                                        <th> Quantity </th>
                                        <th> Description </th>
                                        <th> Distributor </th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let pd of productList">
                                    <tr>
                                        <td class="font-weight-medium"> {{ pd.product_id }} </td>
                                        <td>{{ pd.name }} </td>
                                        <td>{{ pd.category }} </td>
                                        <td>{{ pd.price }} </td>
                                        <td>{{ pd.quantity }} </td>
                                        <td>{{ pd.description }} </td>
                                        <td>{{ pd.distributor }} </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add a New Product</h4>
                        <p class="card-description">
                            Fill up the form to add a new product !!!
                        </p>
                        <form class="forms-sample">
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 col-form-label">Product Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addName" placeholder="product name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="category" class="col-sm-3 col-form-label">Category</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addCategory" placeholder="category">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col-sm-3 col-form-label">Price</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="addPrice" placeholder="price">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="addQuantity" placeholder="quantity">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="serial_no" class="col-sm-3 col-form-label">Serial Number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addSerialNo"
                                        placeholder="serial number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="is_active" class="col-sm-3 col-form-label">Mark Active</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" class="form-control" id="addIsActive">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mr-2" (click)="saveProduct()">Add</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin">
                <div class="card">

                    <div class="card-body">
                        <h4 class="card-title">Update Product Details</h4>
                        <p class="card-description">
                            For the provided product ID, you may update below values !!!
                        </p>
                        <form class="forms-sample">
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 col-form-label">Product Name</label>
                                <div class  ="col-sm-9">
                                    <input type="text" class="form-control" id="updateName" placeholder="product name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="category" class="col-sm-3 col-form-label">Category</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="updateCategory" placeholder="category">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col-sm-3 col-form-label">Price</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="updatePrice" placeholder="price">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="updateQuantity"
                                        placeholder="quantity">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="serial_no" class="col-sm-3 col-form-label">Serial Number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="updateSerialNo"
                                        placeholder="serial number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="is_active" class="col-sm-3 col-form-label">Mark Active</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" class="form-control" id="updateIsActive">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mr-2" (click)="updateProduct()">Update</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Delete the Product</h4>
                        <p class="card-description">
                            Delete the product
                        </p>
                        <form class="forms-sample">
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 col-form-label">Product Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="deleteName" placeholder="product name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="category" class="col-sm-3 col-form-label">Category</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="deleteCategory" placeholder="category">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col-sm-3 col-form-label">Price</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="deletePrice" placeholder="price">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="deleteQuantity"
                                        placeholder="quantity">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="serial_no" class="col-sm-3 col-form-label">Serial Number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="deleteSerialNo"
                                        placeholder="serial number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="is_active" class="col-sm-3 col-form-label">Mark Active</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" class="form-control" id="deleteIsActive">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mr-2" (click)="deleteProduct()">Delete</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Horizontal Form</h4>
                        <p class="card-description">
                            Horizontal form layout
                        </p>
                        <form class="forms-sample">
                            <div class="form-group row">
                                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Product Name</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="exampleInputEmail2"
                                        placeholder="Enter email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Product ID</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="exampleInputPassword2"
                                        placeholder="Password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mr-2" (click)="getProduct()">Fetch</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>