<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 grid-margin">
      <div class="thumbnail">
        <a class="nav-link" routerLink="/category/" routerLinkActive="active">
          <div class="caption">
            <h4>Add Category</h4>
            <p>Lorem Ipsum</p>
          </div>
          <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/add_client.ico"
            alt="Create Order" style="width:70px;height:70px">
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 grid-margin">
      <div class="thumbnail">
        <a class="nav-link" routerLink="/category/" routerLinkActive="active">
          <div class="caption">
            <h4>View Categories</h4>
            <p>Lorem Ipsum</p>
          </div>
          <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/edit_client.jpeg"
            alt="View Categories" style="width:80px;height:80px">
        </a>
      </div>
    </div>
  </div>
</div>