<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/client-add/" routerLinkActive="active">
        <div class="caption">
          <h4>Add Client</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/add_client.ico" alt="Add Client"
          style="width:100px;height:100px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/client-edit/" routerLinkActive="active">
        <div class="caption">
          <h4>Search & Edit Client</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/edit_client.jpeg" alt="Edit Client"
          style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/client-details/" routerLinkActive="active">
        <div class="caption">
          <h4>Details Client</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/client_detail.png"
          alt="Details Client" style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/clients/" routerLinkActive="active">
        <div class="caption">
          <h4>View Clients</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/clients.jpg" alt="View Clients"
          style="width:80px;height:80px">
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-sm-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Existing Clients</h4>
            <p class="card-description">
              Below are all available Clients!!
            </p>
            <div *ngIf="clientList" class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th> ID </th>
                    <th> Name </th>
                    <th> Phone </th>
                    <th> Email </th>
                    <th> Location </th>
                  </tr>
                </thead>
                <tbody *ngFor="let cl of clientList">
                  <tr>
                    <td class="font-weight-medium"> {{ cl.client_id }} </td>
                    <td>{{ cl.first_name + ' ' }} {{ cl.middle_name + ' '}} {{ cl.last_name }} </td>
                    <td>{{ cl.primary_phone }} </td>
                    <td>{{ cl.email }} </td>
                    <td>{{ cl.state }}, {{ cl.country }}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

