<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
      <div class="thumbnail">
        <a class="nav-link" routerLink="/customer-add/" routerLinkActive="active">
          <div class="caption">
            <h4>Add Customer</h4>
            <p>Lorem Ipsum</p>
          </div>
          <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/add_customer.ico" alt="Add Customer"
            style="width:100px;height:100px">
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
      <div class="thumbnail">
        <a class="nav-link" routerLink="/customer-edit/" routerLinkActive="active">
          <div class="caption">
            <h4>Search & Edit Customer</h4>
            <p>Lorem Ipsum</p>
          </div>
          <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/edit_customer.jpeg" alt="Add Customer"
            style="width:80px;height:80px">
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
      <div class="thumbnail">
        <a class="nav-link" routerLink="/customer-details/" routerLinkActive="active">
          <div class="caption">
            <h4>Details Customer</h4>
            <p>Lorem Ipsum</p>
          </div>
          <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/customer_detail.png" alt="Add Customer"
            style="width:80px;height:80px">
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
      <div class="thumbnail">
        <a class="nav-link" routerLink="/customers/" routerLinkActive="active">
          <div class="caption">
            <h4>View Customers</h4>
            <p>Lorem Ipsum</p>
          </div>
          <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/customers.jpg" alt="View Customers"
            style="width:80px;height:80px">
        </a>
      </div>
    </div>
  </div>