<div class="row">
  <div class="col-md-8 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add a New Product</h4>
            <p class="card-description">
              Fill up the form to add a new product !!!
            </p>
            <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Product Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="addName" placeholder="product name">
                </div>
              </div>
              <div class="form-group row">
                <label for="category" class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="addCategory" placeholder="category">
                </div>
              </div>
              <div class="form-group row">
                <label for="cost_price" class="col-sm-3 col-form-label">Cost Price</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" id="cost_price" placeholder="price">
                </div>
              </div>
              <div class="form-group row">
                <label for="cost_price" class="col-sm-3 col-form-label">Sell Price</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" id="sell_price" placeholder="price">
                </div>
              </div>
              <div class="form-group row">
                <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" id="addQuantity" placeholder="quantity">
                </div>
              </div>
              <div class="form-group row">
                <label for="distributor" class="col-sm-3 col-form-label">Distributor</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="distributor" placeholder="Distributor">
                </div>
              </div>
              <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="description" placeholder="Description">
                </div>
              </div>
              <div class="form-group row">
                <label for="is_active" class="col-sm-3 col-form-label">Mark Active</label>
                <div class="col-sm-9">
                  <input type="checkbox" class="form-control" id="addIsActive">
                </div>
              </div>
              <!-- <button type="submit" [disabled]="!productForm.valid" class="btn btn-success mr-2">Save</button>          -->
              <button type="submit" class="btn btn-success mr-2">Save</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>