<div class="row">
  <form class="form-sample" [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
    <div class="card-columns">
      <!-- Card 1 -->
      <div class="card">
        <div class="card-header"> Product Details </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="product_name" />
            </div>
          </div>
          <div class="form-group row">
            <label for="serial_no" class="col-sm-4 col-form-label">Serial No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="serial_no">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Category</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="category_name" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Sub-Category</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="sub_category" />
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="description">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header"> Pricing </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Store ID</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="store_id" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Unit Price</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" formControlName="unit_price" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Sell Price</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" formControlName="sell_price" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Units In stock</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" formControlName="units_in_stock" />
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header"> Shipping </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="distributor" class="col-sm-4 col-form-label">Supplier</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="supplier_id" placeholder="Supplier">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header"> Specific Details </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="is_active" class="col-sm-4 col-form-label">Is Available</label>
            <div class="col-sm-2">
              <input type="checkbox" class="form-control" formControlName="is_active" >
            </div>
          </div>          
          <div class="form-group row">
            <label class="col-sm-5 col-form-label">Membership</label>
            <div class="col-sm-4">
              <div class="form-radio">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="membershipRadios1" value="Free"
                    formControlName="membership" checked>
                  Free
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-radio">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="membershipRadios2" value="Professional"
                    formControlName="membership">
                  Professional
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <button type="submit" class="btn btn-success mr-2">Save</button>
    <button class="btn btn-light">Cancel</button>
  </form>
</div>