<div class="row">
  <div class="col-md-8 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Fetch Client</h4>
            <form [formGroup]="clientDetailForm" (ngSubmit)="onFormSubmit(clientDetailForm.value)">
              <div class="form-group row">
                <label for="client_id" class="col-sm-3 col-form-label">Client ID</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="client_id" placeholder="Client ID">
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Client Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="email" placeholder="Client Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="phone" class="col-sm-3 col-form-label">Client Phone</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="phone" placeholder="Client Phone">
                </div>
              </div>
              <button type="submit" class="btn btn-success mr-2">Search</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="client">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <div *ngIf="client" class="table-responsive">
                <p class="card-description">
                  Below is the Client details !!
                </p>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th> Client ID </th>
                      <td class="font-weight-medium"> {{ client.client_id }} </td>
                    </tr>
                    <tr>
                      <th> Client Name </th>
                      <td>{{ client.first_name + ' ' }} {{ client.middle_name + ' '}} {{ client.last_name }} </td>
                    </tr>
                    <tr>
                      <th> Gender </th>
                      <td> {{ client.gender }} </td>
                    </tr>
                    <tr>
                      <th> Client Title </th>
                      <td>{{ client.contatct_title }} </td>
                    </tr>
                    <tr>
                      <th>Primary Phone </th>
                      <td>{{ client.primary_phone }} </td>
                    </tr>
                    <tr>
                      <th>Secondary Phone </th>
                      <td>{{ client.secondary_phone }} </td>
                    </tr>
                    <tr>
                      <th> Registered Email </th>
                      <td>{{ client.email }} </td>
                    </tr>
                    <tr>
                      <th> Fax </th>
                      <td>{{ client.fax }} </td>
                    </tr>
                    <tr>
                      <th> Membership </th>
                      <td>{{ client.membership }} </td>
                    </tr>
                    <tr>
                      <th> Address</th>
                      <td>{{ client.address }} </td>
                    </tr>
                    <tr>
                      <th> Postal Code </th>
                      <td>{{ client.postal_code }} </td>
                    </tr>
                    <tr>
                      <th> State </th>
                      <td>{{ client.state }} </td>
                    </tr>
                    <tr>
                      <th> City </th>
                      <td>{{ client.city }} </td>
                    </tr>
                    <tr>
                      <th> Country </th>
                      <td>{{ client.country }} </td>
                    </tr>
                    <tr>
                      <th> Contact Via Email </th>
                      <td>{{ client.contact_via_email ? "Yes":"No" }} </td>
                    </tr>
                    <tr>
                      <th> Contact Via Primary Phone </th>
                      <td>{{ client.contact_via_primary_phone ? "Yes":"No" }} </td>
                    </tr>
                    <tr>
                      <th> Contact Via Secondary Phone </th>
                      <td>{{ client.contact_via_secondary_phone ? "Yes":"No" }} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>