<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Anonymous User</p>
            <div>
              <small class="designation text-muted">Admin</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <!-- <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
        </button> -->
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/product/" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Product Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/customer/" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Customer Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/quotation/add/" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Quotation</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/store/" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Inventory</span>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/report/" routerLinkActive="active">
          <i class="menu-icon mdi mdi-television"></i>
          <span class="menu-title">Reports</span>
        </a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/accounts/" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Accounting</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/accounts/" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Configuration</span>
      </a>
    </li>
  </ul>
</nav>