<div class="row">
  <form class="form-sample" [formGroup]="searchClientForm" (ngSubmit)="onSearchFormSubmit(searchClientForm.value)">
    <div class="card">
      <div class="card-header"> Search Client by Either </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Unique ID</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="client_id" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Phone</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="phone" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="email" />
          </div>
        </div>
        <div class="form-group row">
          <button type="submit" class="col-sm-4 btn btn-success mr-2">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div *ngIf="isLoadingResults">
    <h5 align="center">Update Client details Below</h5>
    <form class="form-sample" [formGroup]="updateClientForm"
      (ngSubmit)="onUpdateFormSubmit(updateClientForm.value)">
      <div class="card-columns">
        <!-- Card 1 -->
        <div class="card">
          <div class="card-header"> Biographical </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">First Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="first_name" value="{{first_name}}" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Middle Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="middle_name" value="{{middle_name}}" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Last Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="last_name" value="{{last_name}}" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Gender</label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="gender" value="{{gender}}">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="transgender">Transgender</option>
                  <option value="not to say">not to say</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"> Phones </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Primary Phone</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="primary_phone" value="{{primary_phone}}" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Secondary Phone</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="secondary_phone" value="{{secondary_phone}}" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="email" value="{{email}}" />
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"> Address </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Country</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="country" value="{{country}}" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Address</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="address" value="{{address}}" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">City</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="city" value="{{city}}" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">State</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="state" value="{{state}}" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Postal Code</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="postal_code" value="{{postal_code}}" />
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"> Others </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Membership</label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="membership" value="{{membership}}">
                  <option value="default">Default</option>
                  <option value="silver">Silver</option>
                  <option value="gold">Gold</option>
                  <option value="platinum">Platinum</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"> Contact Via</div>
          <div class="card-body">
            <p class="card-text">You must have explicit client consent before changing
              this client's contact settings.
            </p>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Contact Via</label>
              <div class="col-sm-8 offset-sm-4 ">
                <div class="form-check-box">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="contact_via_email" value="Email"
                      formControlName="membership" checked> Email
                  </label>
                </div>
              </div>
              <div class="col-sm-8 offset-sm-4 ">
                <div class="form-check-box">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="contact_via_phone" value="Professional"
                      formControlName="membership">Call
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" class="col-sm-1 btn btn-success mr-2">Update</button>
        <button type="submit" class="col-sm-1 btn btn-danger mr-2">Delete</button>
        <button type="cancel" class="col-sm-1 btn">Cancel</button>
      </div>
    </form>
  </div>
</div>