<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/store-add/" routerLinkActive="active">
        <div class="caption">
          <h4>Add Store</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/purchase_1.jpg" alt="Add Store"
          style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/store-edit/" routerLinkActive="active">
        <div class="caption">
          <h4>Edit Stores</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/purchase_1.jpg" alt="Add Store"
          style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/store-details/" routerLinkActive="active">
        <div class="caption">
          <h4>Details Stores</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/purchase_1.jpg" alt="Add Store"
          style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/stores/" routerLinkActive="active">
        <div class="caption">
          <h4>View Stores</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/purchase_1.jpg" alt="View Store"
          style="width:80px;height:80px">
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Existing stores</h4>
            <p class="card-description">
              Below are all available stores!!
            </p>
            <div *ngIf="storeList" class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th> Store Name</th>
                    <th> Store Admin </th>
                    <th> Store ID </th>
                    <th> Category </th>
                    <th> Country </th>
                    <th> Phone </th>
                  </tr>
                </thead>
                <tbody *ngFor="let sl of storeList">
                  <tr>
                    <td class="font-weight-medium"> {{ sl.store_name }} </td>
                    <td>{{ sl.store_admin }} </td>
                    <td>{{ sl.store_id }} </td>
                    <td>{{ sl.category_id }} </td>
                    <td>{{ sl.country }} </td>
                    <td>{{ sl.phone }} </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>