<div class="row">
  <form class="form-sample" [formGroup]="clientForm" (ngSubmit)="onFormSubmit(clientForm.value)">
    <div class="card-columns">
      <!-- Card 1 -->
      <div class="card">
        <div class="card-header"> Biographical </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="first_name" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Middle Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="middle_name" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="last_name" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Contact Title</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="contact_title" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Gender</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="gender">
                <option>Male</option>
                <option>Female</option>
                <option>Transgender</option>
                <option>Not To say</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header"> Phones </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Primary Phone</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="primary_phone" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Secondary phone</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="secondary_phone" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="email" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fax</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="fax" />
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header"> Address </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Country</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="country" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Address</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="address" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">City</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="city" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">State</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="state" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Postal Code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="postal_code" />
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header"> Others </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Membership</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="membership">
                  <option value="default">Default</option>
                  <option value="silver">Silver</option>
                  <option value="gold">Gold</option>
                  <option value="platinum">Platinum</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-header"> Contact Via</div>
        <div class="card-body">
          <p class="card-text">You must have explicit client consent before changing
            this client's contact settings.
          </p>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label">Contact Via</label>
            <div class="col-sm-8 offset-sm-4 ">
              <div class="form-check-box">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="contact_via_email" value="Email"
                    formControlName="contact_via_email" checked> Email
                </label>
              </div>
            </div>
            <div class="col-sm-8 offset-sm-4 ">
              <div class="form-check-box">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="contact_via_primary_phone" value="Professional"
                    formControlName="contact_via_primary_phone">Primary Phone
                </label>
              </div>
            </div>
            <div class="col-sm-8 offset-sm-4 ">
              <div class="form-check-box">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="contact_via_secondary_phone" value="Professional"
                    formControlName="contact_via_secondary_phone">Secondary Phone
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success mr-2">Save</button>
    <button class="btn btn-light">Cancel</button>
  </form>
</div>