<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/quotation-add/" routerLinkActive="active">
        <div class="caption">
          <h4>Add Quotation</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/add_customer.ico" alt="Create Quotation"
          style="width:70px;height:70px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/quotation-details/" routerLinkActive="active">
        <div class="caption">
          <h4>Search Quotation</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/edit_customer.jpeg"
          alt="Search Quotation" style="width:80px;height:80px">
      </a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Quotation/Invoice</h4>
        <p class="card-description">
          Fill up the below form !!!
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoadingResults">
  <!-- Quotation Form -->
  <form novalidate [formGroup]="quotation_form_group" (ngSubmit)="onFormSubmit()">
    <div class="row">
      <div class="col-sm-4 grid-margin">
        <!-- Card 1 -->
        <div class="card">
          <div class="card-header">Heading 1</div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Customer ID : </label>
              <div class="col-sm-4">
                <input type="number" formControlName="customer_id" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Store ID : </label>
              <div class="col-sm-4">
                <input type="number" formControlName="store_id" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Employee ID : </label>
              <div class="col-sm-4">
                <input type="number" formControlName="employee_id" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Type </label>
              <div class="col-sm-4">
                <select class="form-control" formControlName="quotation_type">
                  <option>Invoice</option>
                  <option>Quotation</option>
                  <option>Bill</option>
                  <option>Receipt</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Payment Type </label>
              <div class="col-sm-4">
                <select class="form-control" formControlName="payment_type">
                  <option>Cash</option>
                  <option>Credit</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">Products Detail</div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-1 col-form-label num-field">#</label>
              <label class="col-sm-2 col-form-label">Product Name</label>
              <label class="col-sm-2 col-form-label">Category</label>
              <label class="col-sm-1 col-form-label num-field">Quantity</label>
              <label class="col-sm-1 col-form-label num-field">Price</label>
              <label class="col-sm-1 col-form-label num-field">Discount</label>
              <label class="col-sm-1 col-form-label num-field">Tax</label>
              <label class="col-sm-1 col-form-label num-field">Sub-Total</label>
              <label class="col-sm-1 col-form-label">New row</label>
            </div>
            <ng-container *ngIf="quotation_form_group.controls.item_rows!=null">
              <div formArrayName="item_rows">
                <div *ngFor="let itemrow of quotation_form_group.controls.item_rows.controls; let i=index"
                  [formGroupName]="i">
                  <div class="row">
                    <div class="col-sm-1 "> <input type="number" value="{{i+1}}" class="form-control num-field"
                        disabled>
                    </div>
                    <div class="col-sm-2 "><input type="text" formControlName="product_name" class="form-control"></div>
                    <div class="col-sm-2"><input type="text" formControlName="category_name" class="form-control"></div>
                    <div class="col-sm-1 num-field"><input type="number" formControlName="quantity"
                        class="form-control num-field">
                    </div>
                    <div class="col-sm-1"><input type="number" formControlName="quoted_price"
                        class="form-control num-field"></div>
                    <div class="col-sm-1"><input type="number" formControlName="item_discount"
                        class="form-control num-field"></div>
                    <div class="col-sm-1"><input type="number" formControlName="tax" class="form-control num-field">
                    </div>
                    <div class="col-sm-1"><input formControlName="line_item_total"
                        [value]="calculateLineItemSubTotal(itemrow)" class="form-control num-field"> </div>
                    <div class="col-sm-1">
                      <button type="button" (click)="deleteRow(i)"> <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn btn-light" (click)="addNewRow()">Add Row</button>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="row">
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-header">Final Details</div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Sub-Total</label>
              <div class="col-sm-4">
                <input type="number" formControlName="discounted_sub_total"
                  [value]="calculateSubTotal(quotation_form_group.controls.item_rows.controls)"
                  class="form-control num-field">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Discount : </label>
              <div class="col-sm-4">
                <input type="number" formControlName="discount_on_total" class="form-control num-field">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Tax : </label>
              <div class="col-sm-4">
                <input type="number" formControlName="total_tax"
                  [value]="calculateTotalTax(quotation_form_group.controls.item_rows.controls)"
                  class="form-control num-field">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Total : </label>
              <div class="col-sm-4">
                <input type="number" formControlName="quotation_total"
                  [value]="calculateTotal(quotation_form_group.controls.item_rows.controls)"
                  class="form-control num-field">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                <button type="submit" class="btn btn-success mr-2">Submit</button>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-light">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{{ this.quotation_form_group.value | json }}

<div *ngIf="quotation_submitted">
  <div class="container" id="contentToConvert" #contentToConvert>
    <div class="row">
      <div class="col-sm-12 store_details">
        <h2>Store Name {{store_name}}</h2>
        <p>Store Address: {{store_address}}</p>
        <p>State: {{store_city_zip_state}}</p>
        <p>Phone: {{store_phone}}</p>
        <p>Email: {{store_email_web}}</p>
        <p>Web: </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 client_details">
        <h4>Client info</h4>
        <p> Bill label: {{bill_to_label}}</p>
        <p>Name : {{client_name}}</p>
        <p>Address: {{client_address}}</p>
        <p>City: {{client_city_zip_state}}</p>
        <p>State:</p>
        <p>Postal_code:</p>
        <p>Phone: {{client_phone}}</p>
        <p>Email: {{client_email}}</p>
      </div>
      <div class="col-sm-6 invoice_details">
        <h4>Invoice info</h4>
        <p>Date: {{issue_date_label}} : {{issue_date}}</p>
        {{net_term_label}} {{net_term}} {{due_date_label}}
        {{due_date}} {{currency_label}} {{currency}} {{po_number_label}}
        {{po_number}}
        <h4>Invoice title and number</h4>
        <p>Title: {{invoice_title}}</p>
        <p>Number: {{invoice_number}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 quotation_table">
        <table class="quotation">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Discount</th>
              <th>Tax</th>
              <th>Sub-Total</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td>foot1</td>
              <td>foot2</td>
              <td>foot3</td>
              <td>foot4</td>
              <td>foot5</td>
              <td>foot6</td>
              <td>foot7</td>
              <td>foot8</td>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let item of line_items.controls; let i=index">
              <td>{{ i }}</td>
              <td>{{ item.controls.product_name.value }}</td>
              <td>{{ item.controls.category.value }}</td>
              <td>{{ item.controls.quantity.value }}</td>
              <td>{{ item.controls.quoted_price.value }}</td>
              <td>{{ item.controls.item_discount.value }}</td>
              <td>{{ item.controls.tax.value }}</td>
              <td>{{ item.controls.line_item_total.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 payment_details">
        <h4>Payment info</h4>
        <p>Type: {{payment_type}} Cash or Credit</p>
      </div>
      <div class="col-sm-6 invoice_sums">
        Invoice sums
        <p>Sub Total : {{amount_subtotal_label}}</p>
        <p>{{amount_subtotal}}</p>
        <p>Tax Name: {{tax_name}}</p>
        <p>Tax Value:{{tax_value}}</p>
        <p>Amount Total Label: {{amount_total_label}}</p>
        <p>Amount Total: {{amount_total}}</p>
        <p>Amount Paid Label: {{amount_paid_label}}</p>
        <p>Amount Paid: {{amount_paid}}</p>
        <p>Amount Due Label: {{amount_due_label}}</p>
        <p>Amount Due: {{amount_due}}</p>
        <h4>Invoice terms</h4>
        <p>Terms Label: {{terms_label}}</p>
        <p>Terms: {{terms}}</p>
        Custom fields (more info)
        {{document_custom_[name]}}
        {{client_custom_[name]}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <button type="button" (click)="capture()" class="btn btn-success">Save PDF</button>
  </div>
</div>