<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/quotation-add/" routerLinkActive="active">
        <div class="caption">
          <h4>Add Quotation</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/add_customer.ico" alt="Add Quotation"
          style="width:100px;height:100px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/quotation-details/" routerLinkActive="active">
        <div class="caption">
          <h4>Search Quotation</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/edit_customer.jpeg"
          alt="Search Quotation" style="width:80px;height:80px">
      </a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Quotation/Invoice</h4>
        <p class="card-description">
          Fill up the below form !!!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Quotation Form -->
<form [formGroup]="quotationForm" (ngSubmit)="onFormSubmit()">
  <div class="row">
    <div class="col-sm-6 grid-margin">

      <!-- Card 1 -->
      <div class="card">
        <div class="card-header">Heading 1</div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Customer ID : </label>
            <div class="col-sm-8">
              <input type="number" formControlName="customer_id" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Type </label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="type">
                <option>Invoice</option>
                <option>Quotation</option>
                <option>Bill</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="row">
    <div class="col-sm-12 grid-margin">
      <div class="card">
        <div class="card-header">Products Detail</div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">#</label>
            <label class="col-sm-2 col-form-label">Product Name</label>
            <label class="col-sm-2 col-form-label">Category</label>
            <label class="col-sm-1 col-form-label">Quantity</label>
            <label class="col-sm-1 col-form-label">Price</label>
            <label class="col-sm-1 col-form-label">Discount</label>
            <label class="col-sm-1 col-form-label">Tax</label>
            <label class="col-sm-1 col-form-label">Sub-Total</label>
            <label class="col-sm-1 col-form-label">New row</label>
          </div>
          <div formArrayName="products" *ngFor="let pd of quotationForm.get('products').controls; let i=index">
            <div [formGroupName]="i">
              <div class="form-group row">
                <div class="col-sm-1"> <input type="number" value={{i+1}} class="form-control"> </div>
                <div class="col-sm-2"><input type="text" formControlName="name" class="form-control"></div>
                <div class="col-sm-2"><input type="text" formControlName="category" class="form-control"></div>
                <div class="col-sm-1"><input type="number" formControlName="quantity" class="form-control"></div>
                <div class="col-sm-1"><input type="number" formControlName="quoted_price" class="form-control"></div>
                <div class="col-sm-1"><input type="number" formControlName="discount" class="form-control"></div>
                <div class="col-sm-1"><input type="number" formControlName="tax" class="form-control"></div>
                <div class="col-sm-1"><input formControlName="sub_total" [value]="calculateSubTotal(pd)"
                    class="form-control">
                </div>
                <div class="col-sm-1">
                  <button type="button" class="btn btn-danger">-</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-light" (click)="addProductRow()">Add Row</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card 3 -->
  <div class="row">
    <div class="col-sm-6 grid-margin">
      <div class="card">
        <div class="card-header">Final Details</div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Sub-Total</label>
            <div class="col-sm-4">
              <input type="number" formControlName="discount_total" [value]="calculateTotal(products)"
                class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Discount : </label>
            <div class="col-sm-4">
              <input type="number" formControlName="total_discount" [value]="calculateTotal(products)"
                class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tax : </label>
            <div class="col-sm-4">
              <input type="number" formControlName="total" [value]="calculateTotal(products)" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Total : </label>
            <div class="col-sm-4">
              <input type="number" formControlName="total" [value]="calculateTotal(products)" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <button type="submit" class="btn btn-success mr-2">Submit</button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-light">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>