<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin">
    <div class="thumbnail">
        <a class="nav-link" routerLink="/products/" routerLinkActive="active">
        <div class="caption">
          <h4>Products</h4>
          <p>Lorem Ipsum</p>
        </div>        
        <img class="img-thumbnail rounded" src="assets/images/menu_icons/products.png" alt="Products" style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin">
    <div class="thumbnail">
      <!-- <a href="#"> -->
        <a class="nav-link" routerLink="/customers" routerLinkActive="active">
        <div class="caption">
          <h4>Customers</h4>
          <p>Lorem Ipsum</p>
        </div>        
        <img class="img-thumbnail rounded" src="assets/images/menu_icons/customers.jpg" alt="Customers" style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin">
    <div class="thumbnail">
        <a class="nav-link" routerLink="/quotation-add/" routerLinkActive="active">
        <div class="caption">
          <h4>Purchase</h4>
          <p>Lorem Ipsum</p>
        </div>        
        <img class="img-thumbnail rounded" src="assets/images/menu_icons/purchase_1.jpg" alt="Purchase" style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin">
    <div class="thumbnail">
        <a class="nav-link" routerLink="/traders/" routerLinkActive="active">
        <div class="caption">
          <h4>Merchants</h4>
          <p>Lorem Ipsum</p>
        </div>        
        <img class="img-thumbnail rounded" src="assets/images/menu_icons/traders.jpg" alt="traders" style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin">
    <div class="thumbnail">
        <a class="nav-link" routerLink="/reports/" routerLinkActive="active">
        <div class="caption">
          <h4>Reports</h4>
          <p>Lorem Ipsum</p>
        </div>        
        <img class="img-thumbnail rounded" src="assets/images/menu_icons/report.png" alt="Reports" style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin">
    <div class="thumbnail">
        <a class="nav-link" routerLink="/stores/" routerLinkActive="active">
        <div class="caption">
          <h4>Sales</h4>
          <p>Lorem Ipsum</p>
        </div>        
        <img class="img-thumbnail rounded" src="assets/images/menu_icons/sales.jpg" alt="Sales" style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin">
    <div class="thumbnail">
        <a class="nav-link" routerLink="/stores/" routerLinkActive="active">
        <div class="caption">
          <h4>Stocks & Stores</h4>
          <p>Lorem Ipsum</p>
        </div>        
        <img class="img-thumbnail rounded" src="assets/images/menu_icons/store.jpg" alt="Stocks" style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin">
    <div class="thumbnail">
        <a class="nav-link" routerLink="/stores/" routerLinkActive="active">
        <div class="caption">
          <h4>Accounts</h4>
          <p>Lorem Ipsum</p>
        </div>        
        <img class="img-thumbnail rounded" src="assets/images/menu_icons/accounts.png" alt="Accounts" style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin">
    <div class="thumbnail">
        <a class="nav-link" routerLink="/stores/" routerLinkActive="active">
        <div class="caption">
          <h4>Configuration</h4>
          <p>Lorem Ipsum</p>
        </div>        
        <img class="img-thumbnail rounded" src="assets/images/menu_icons/configuration.jpg" alt="Configuration" style="width:80px;height:80px">
      </a>
    </div>
  </div>
</div>

