<div class="row">
  <div class="col-md-8 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Existing Products</h4>
            <p class="card-description">
              Below are all available products!!
            </p>
            <div *ngIf="productList" class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th> Product ID </th>
                    <th> Product Name </th>
                    <th> Category </th>
                    <th> Price </th>
                    <th> Quantity </th>
                    <th> Description </th>
                    <th> Distributor </th>
                  </tr>
                </thead>
                <tbody *ngFor="let pd of productList">
                  <tr>
                    <td class="font-weight-medium"> {{ pd.product_id }} </td>
                    <td>{{ pd.name }} </td>
                    <td>{{ pd.category }} </td>
                    <td>{{ pd.price }} </td>
                    <td>{{ pd.quantity }} </td>
                    <td>{{ pd.description }} </td>
                    <td>{{ pd.distributor }} </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>