<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/product-add/" routerLinkActive="active">
        <div class="caption">
          <h4>Add product</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/product_add.png" alt="Add product"
          style="width:100px;height:100px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/product-edit/" routerLinkActive="active">
        <div class="caption">
          <h4>Search & Edit product</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/product_add.png" alt="Add product"
          style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/product-details/" routerLinkActive="active">
        <div class="caption">
          <h4>Details product</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/product_add.png" alt="Add product"
          style="width:80px;height:80px">
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin">
    <div class="thumbnail">
      <a class="nav-link" routerLink="/products/" routerLinkActive="active">
        <div class="caption">
          <h4>View products</h4>
          <p>Lorem Ipsum</p>
        </div>
        <img class="img-thumbnail rounded-circle" src="assets/images/menu_icons/product_add.png" alt="View products"
          style="width:80px;height:80px">
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Existing Products</h4>
            <p class="card-description">
              Below are all available products!!
            </p>
            <div *ngIf="productList" class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th> Product Name </th>
                    <th> Serial Code </th>
                    <th> SKU Code </th>
                    <th> Category </th>
                    <th> Unit Price </th>
                    <th> Selling Price </th>
                    <th> Units In Stock </th>
                    <th> quantity Per Unit </th>                    
                    <th> Supplier ID </th>
                  </tr>
                </thead>
                <tbody *ngFor="let pd of productList">
                  <tr>
                    <td class="font-weight-medium">{{ pd.product_name }} </td>
                    <td>{{ pd.serial_no }} </td>
                    <td>{{ pd.product_id }} </td>
                    <td>{{ pd.category_name }} </td>
                    <td>{{ pd.unit_price | currency:'CAD':'symbol-narrow' }} </td>
                    <td>{{ pd.sell_price | currency:'CAD':'symbol-narrow' }} </td>
                    <td>{{ pd.units_in_stock }} </td>
                    <td>{{ pd.quantity_per_unit}} </td>                    
                    <td>{{ pd.supplier_id }} </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>