<div class="row">
  <div class="col-md-6 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-10 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Fetch order</h4>
            <p class="card-description">
              Get the order by Order ID.
            </p>
            <form [formGroup]="orderByIdForm" (ngSubmit)="onQidFormSubmit(orderByIdForm.value)">
              <div class="form-group row">
                <label for="order_id" class="col-sm-4 col-form-label">Order ID</label>
                <div class="col-sm-5">
                  <input type="number" class="form-control" formControlName="order_id" placeholder="Order ID">
                </div>
              </div>
              <button type="submit" class="btn btn-success mr-2">Search</button>
              <button class="btn btn-light">Cancel</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-10 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Fetch Orders</h4>
            <p class="card-description">
              Fetch orders depending on below selections.
            </p>
            <form [formGroup]="orderByEntityForm" (ngSubmit)="onQbeFormSubmit(orderByEntityForm.value)">
              <div class="form-group row">
                <label for="order_type" class="col-sm-4 col-form-label">Order Type</label>
                <div class="col-sm-6">
                  <select class="form-control" formControlName="order_type">
                    <option>Invoice</option>
                    <option>Order</option>
                    <option>Bill</option>
                    <option>Receipt</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="order_id" class="col-sm-4 col-form-label">Client ID</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" formControlName="client_id" placeholder="Client ID">
                </div>
              </div>
              <div class="form-group row">
                <label for="order_id" class="col-sm-4 col-form-label">Employee ID</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" formControlName="employee_id" placeholder="Employee ID">
                </div>
              </div>
              <div class="form-group row">
                <label for="order_id" class="col-sm-4 col-form-label">Store ID</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" formControlName="store_id" placeholder="Store ID">
                </div>
              </div>
              <div class="form-group row">
                <label for="order_id" class="col-sm-4 col-form-label">From Date</label>
                <div class="col-sm-6">
                  <input type="date" class="form-control" formControlName="start_date">
                </div>
                <label for="order_id" class="col-sm-4 col-form-label">End Date</label>
                <div class="col-sm-6">
                  <input type="date" class="form-control" formControlName="end_date">
                </div>
              </div>
              <button type="submit" class="btn btn-success mr-2">Search</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="orderList">
  <div class="contatiner">
    <div class="row">
      <div class="col-md-10 d-flex align-items-stretch grid-margin">
        <div class="row flex-grow">
          <div class="col-10 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Orders</h4>
                <p class="card-description">
                  List of matching orders.
                </p>
                <table class="table table-condensed table-responsive" border="1">
                  <thead>
                    <tr>
                      <th><span> # </span></th>
                      <th><span> Order ID </span></th>
                      <th><span> Order Type </span></th>
                      <th><span> Payment Type </span></th>
                      <th><span> Created Date </span></th>
                      <th><span> Client ID </span></th>
                      <th><span> Employee ID </span></th>
                      <th><span> Store ID </span></th>
                      <th><span> Order Total </span></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let ql of orderList; let i=index">
                    <tr>
                      <td class="font-weight-medium"><span> {{ i+1 }} </span></td>
                      <td><span>{{ ql.order_id }} </span></td>
                      <td><span>{{ ql.order_type }} </span></td>
                      <td><span>{{ ql.payment_type }} </span></td>
                      <td><span>{{ ql.created_at }} </span></td>
                      <td><span>{{ ql.client_id }} </span></td>
                      <td><span>{{ ql.employee_id }} </span></td>
                      <td><span>{{ ql.store_id }} </span></td>
                      <td><span>{{ ql.order_total | currency:'CAD':'symbol-narrow' }} </span></td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="order">
  <div class="container order_print" id="orderPdf" #orderPdf>
    <div class="row">
      <div class="col-sm-12 header store_details">
        <h1>{{ metadata.order_type }}</h1>
        <address>
          <h3>{{store.store_name}}</h3>
          <p>Store ID {{store.store_id}}</p>
          <p>Store Address: {{store.address}}</p>
          <p>City: {{store.city}}</p>
          <p>Phone: {{store.phone}}</p>
          <p>Postal Code: {{store.postal_code}}</p>
          <!-- <p>{{store.email}} || {{store.web}}</p> -->
        </address>
      </div>
      <div class="row">
        <div class="col-sm-6 client_details">
          <h4>Client info</h4>
          <address>
            <p> Bill label: {{ metadata.order_type }}</p>
            <p> Client ID: {{ client.client_id }}</p>
            <p>Name : {{client.first_name}} {{client.middle_name}} {{client.last_name}}</p>
            <p>Address: {{client.address}}</p>
            <p>City: {{client.city}}</p>
            <p>State:{{client.state}}</p>
            <p>Country:{{client.country}}</p>
            <p>Postal_code:{{client.postal_code}}</p>
            <p>Phone: {{client.primary_phone}}, {{client.secondary_phone}} </p>
            <p>Email: {{client.email}}</p>
          </address>
        </div>
        <div class="col-sm-6 invoice_details">
          <h4>Invoice info</h4>
          <p>Order Type: {{ metadata.order_type }}</p>
          <p>Date: {{ metadata.created_at }}</p>
          <p>Currency: </p>
          <!-- {{net_term_label}} {{net_term}} {{due_date_label}}
        {{due_date}} {{currency_label}} {{currency}} {{po_number_label}}
        {{po_number}} -->
          <h4>Invoice title and number</h4>
          <p>Title: {{ metadata.order_type }}</p>
          <p>Number: {{ metadata.order_id }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 order_table">
          <table class="inventory">
            <thead>
              <tr>
                <th><span>S.No.</span></th>
                <th><span>Product Name</span></th>
                <th><span>Category Name</span></th>
                <th><span>Unit Price</span></th>
                <th><span>Quantity</span></th>
                <th><span>Discount</span></th>
                <th><span>Tax</span></th>
                <th><span>Sub-Total</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of line_items; let i=index">
                <td><span>{{ i+1 }}</span></td>
                <td><span>{{ item.product_name }}</span></td>
                <td><span>{{ item.category_name }}</span></td>
                <td><span>{{ item.quantity }}</span></td>
                <td><span>{{ item.quoted_price }}</span></td>
                <td><span>{{ item.item_discount }}</span></td>
                <td><span>{{ item.tax }}</span></td>
                <td><span>{{ item.line_item_total }}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 payment_details">
          <h4>Payment info</h4>
          <p>Type: {{metadata.payment_type}}</p>
        </div>
        <div class="col-sm-6 invoice_sums">
          Invoice sums
          <p>Sub Total : {{ metadata.discounted_sub_total }}</p>
          <p>Tax Name: </p>
          <p>Tax Value:{{metadata.total_tax}}</p>
          <p>Amount Total Label: </p>
          <p>Amount Total: {{metadata.order_total}}</p>
          <!-- <p>Amount Paid Label: {{amount_paid_label}}</p>
        <p>Amount Paid: {{amount_paid}}</p>
        <p>Amount Due Label: {{amount_due_label}}</p>
        <p>Amount Due: {{amount_due}}</p>
        <h4>Invoice terms</h4>
        <p>Terms Label: {{terms_label}}</p>
         <p>Terms: {{terms}}</p>
        Custom fields (more info)
        {{document_custom_[name]}}
        {{client_custom_[name]}} -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <button type="button" (click)="capture()" class="btn btn-success">Save PDF</button>
      <button type="button" (click)="print()" class="btn btn-success">Print - IN Progress</button>
    </div>
  </div>
</div>


<!-- <div *ngIf="order">
  <div class="row">
    <div class="col-md-10 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Order Below</h4>
              <p class="card-description">
                Order Found
              </p>
              <table class="table table-responsive" border="1">
                <tr>
                  <th>Client ID</th>
                  <td>{{ order.client_id }}</span></td>
                </tr>
                <tr>
                  <th>Store ID</th>
                  <td>{{ order.store_id }}</span></td>
                </tr>
                <tr>
                  <th>Order Type</th>
                  <td>{{ order.order_type }}</td>
                </tr>
                <tr>
                  <th>Discount</th>
                  <td>{{ order.discount_on_total }}</td>
                </tr>
                <tr>
                  <th>Tax</th>
                  <td>{{ order.total_tax | currency:'CAD':'symbol-narrow' }} </td>
                </tr>
                <tr>
                  <th>Order Total</th>
                  <td>{{ order.order_total | currency:'CAD':'symbol-narrow' }}</td>
                </tr>
                <tr>
                  <th>Invoice Date</th>
                  <td>{{ order.created_at }}</td>
                </tr>
              </table>
              <table class="table table-condensed" border="2">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Quoted Price</th>
                    <th>Discount</th>
                    <th>Tax</th>
                    <th>Sub-Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pd of products">
                    <td>{{ pd.product_name }}</td>
                    <td>{{ pd.category_name }}</td>
                    <td>{{ pd.quantity }}</td>
                    <td>{{ pd.quoted_price  | currency:'CAD':'symbol-narrow' }} </td>
                    <td>{{ pd.item_discount }} %</td>
                    <td>{{ pd.tax  | currency:'CAD':'symbol-narrow' }} </td>
                    <td>{{ pd.line_item_total  | currency:'CAD':'symbol-narrow' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->